<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- [Head] start -->

  <head th:replace="fragments/head_superadmin :: head('Estadisticas Financieras')"></head>

  <body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-layout="vertical" data-pc-direction="ltr" data-pc-theme_contrast="" data-pc-theme="light">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
      <div class="loader-track">
        <div class="loader-fill"></div>
      </div>
    </div>

    <div th:replace="fragments/Sidebar_superadmin :: sidebar"></div>

    <div th:replace="fragments/navbar_superadmin :: header"></div>

    <div class="pc-container" style="background: #e0f6ff">
      <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../dashboard/index.html">Inicio</a></li>
                  <li class="breadcrumb-item"><a href="javascript: void(0)">Estadisticas</a></li>
                  <li class="breadcrumb-item" aria-current="page">Financieras</li>
                </ul>
              </div>
              <div class="col-md-12">
                <div class="page-header-title">
                  <h2 class="mb-0">Monitoreo Financiero y uso de Servicios</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->


        <!-- [ Main Content ] start -->
        <div class="row">
          <div class="col-xxl-4 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1 me-3">
                    <p class="mb-1 fw-medium text-muted">Ingreso mensual</p>
                    <h4 class="mb-1">10980+</h4>
                    <p class="mb-0 text-sm">Abril 01 - Mayo 01 (2025)</p>
                  </div>
                  <div class="flex-shrink-0">
                    <div class="avtar avtar-l bg-light-primary rounded-circle">
                      <i class="ph-duotone ph-book-bookmark f-28"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1 me-3">
                    <p class="mb-1 fw-medium text-muted">Reservas</p>
                    <h4 class="mb-1">1,563</h4>
                    <p class="mb-0 text-sm">Abril 01 - Mayo 01 (2025)</p>
                  </div>
                  <div class="flex-shrink-0">
                    <div class="avtar avtar-l bg-light-success rounded-circle">
                      <i class="ph-duotone ph-rocket f-28"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1 me-3">
                    <input type="date" class="form-control mb-2" id="fecha" onchange="actualizarFecha()" />
                    <p class="mb-0 text-sm"><strong>Estás viendo:</strong> <span id="mes-actual">Abril 2025</span></p>
                  </div>
                  <div class="flex-shrink-0">
                    <div class="avtar avtar-l bg-light-primary rounded-circle">
                      <i class="ph-duotone ph-calendar f-28"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="row">
            <div class="col-lg-8">
              <div class="card">
                <div class="card-body">
                  <div class="row g-3 mb-3">
                    <div class="col-md-6 col-xxl-3">
                      <div class="card border mb-0">
                        <div class="card-body p-3">
                          <div class="d-flex align-items-center justify-content-between gap-1">
                            <h6 class="mb-0">Monto total</h6>
                            <p class="mb-0 text-muted d-flex align-items-center gap-1">
                              <svg class="pc-icon text-warning wid-15 hei-15">
                                <use xlink:href="#custom-arrow-down"></use>
                              </svg>
                              20.3%</p
                            >
                          </div>
                          <h5 class="mb-2 mt-3">S/.10678.09</h5>
                          <div class="d-flex align-items-center gap-1">
                            <h5 class="mb-0">20</h5>
                            <p class="mb-0 text-muted d-flex align-items-center gap-2">PAGOS REGISTRADOS</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xxl-3">
                      <div class="card border mb-0">
                        <div class="card-body p-3">
                          <div class="d-flex align-items-center justify-content-between gap-1">
                            <h6 class="mb-0">Pagado</h6>
                            <p class="mb-0 text-muted d-flex align-items-center gap-1">
                              <svg class="pc-icon text-danger wid-15 hei-15">
                                <use xlink:href="#custom-arrow-down"></use>
                              </svg>
                              -8.73%</p
                            >
                          </div>
                          <h5 class="mb-2 mt-3">S/.6000.00</h5>
                          <div class="d-flex align-items-center gap-1">
                            <h5 class="mb-0">12</h5>
                            <p class="mb-0 text-muted d-flex align-items-center gap-2">PAGOS CONFIRMADOS</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xxl-3">
                      <div class="card border mb-0">
                        <div class="card-body p-3">
                          <div class="d-flex align-items-center justify-content-between gap-1">
                            <h6 class="mb-0">Pendientes</h6>
                            <p class="mb-0 text-muted d-flex align-items-center gap-1">
                              <svg class="pc-icon text-success wid-15 hei-15">
                                <use xlink:href="#custom-arrow-up"></use>
                              </svg>
                              10.73%</p
                            >
                          </div>
                          <h5 class="mb-2 mt-3">S/. 3000.00</h5>
                          <div class="d-flex align-items-center gap-1">
                            <h5 class="mb-0">6</h5>
                            <p class="mb-0 text-muted d-flex align-items-center gap-2">PAGOS POR VALIDAR</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xxl-3">
                      <div class="card border mb-0">
                        <div class="card-body p-3">
                          <div class="d-flex align-items-center justify-content-between gap-1">
                            <h6 class="mb-0">Vencido</h6>
                            <p class="mb-0 text-muted d-flex align-items-center gap-1">
                              <svg class="pc-icon text-primary wid-15 hei-15">
                                <use xlink:href="#custom-arrow-down"></use>
                              </svg>
                              -4.73%</p
                            >
                          </div>
                          <h5 class="mb-2 mt-3">S/.1000.00</h5>
                          <div class="d-flex align-items-center gap-1">
                            <h5 class="mb-0">2</h5>
                            <p class="mb-0 text-muted d-flex align-items-center gap-2">PAGOS VENCIDOS</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="invoice-chart"></div>
                </div>
              </div>
            </div>
        
            <div class="col-xl-4 col-md-6">
              <div class="card">
                <div class="card-body pb-0">
                  <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Uso de servicios</h5>
                    <div class="dropdown">
                      <a
                        class="avtar avtar-s btn-link-secondary dropdown-toggle arrow-none"
                        href="#"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="ti ti-dots-vertical f-18"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Hoy</a>
                        <a class="dropdown-item" href="#">Semanal</a>
                        <a class="dropdown-item" href="#">Mensual</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div id="total-income-graph"></div>
                  <div class="mb-2 mt-3 d-flex align-items-center justify-content-between">
                    <h6 class="mb-0 d-flex align-items-center gap-2"><i class="fas fa-circle text-warning f-12"></i> Gimnasio</h6>
                    <p class="mb-0 text-muted">+20%</p>
                  </div>
                  <div class="mb-2 d-flex align-items-center justify-content-between">
                    <h6 class="mb-0 d-flex align-items-center gap-2"><i class="fas fa-circle text-success f-12"></i> Piscinas</h6>
                    <p class="mb-0 text-muted">-26%</p>
                  </div>
                  <div class="mb-2 d-flex align-items-center justify-content-between">
                    <h6 class="mb-0 d-flex align-items-center gap-2"><i class="fas fa-circle text-danger f-12"></i> Lozas deportivas</h6>
                    <p class="mb-0 text-muted">+4%</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <h6 class="mb-0 d-flex align-items-center gap-2"
                      ><i class="fas fa-circle text-primary text-opacity-25 f-12"></i> Otros complejos</h6
                    >
                    <p class="mb-0 text-muted">-6%</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    <div th:replace="fragments/footer_superadmin :: footer"></div>

    <!-- Required JS -->
    <script th:src="@{/assets/js/plugins/popper.min.js}"></script>
    <script th:src="@{/assets/js/plugins/simplebar.min.js}"></script>
    <script th:src="@{/assets/js/plugins/bootstrap.min.js}"></script>

    <script th:src="@{/assets/js/plugins/i18next.min.js}"></script>
    <script th:src="@{/assets/js/plugins/i18nextHttpBackend.min.js}"></script>

    <script th:src="@{/assets/js/icon/custom-font.js}"></script>
    <script th:src="@{/assets/js/script.js}"></script>
    <script th:src="@{/assets/js/theme.js}"></script>
    <script th:src="@{/assets/js/multi-lang.js}"></script>
    <script th:src="@{/assets/js/plugins/feather.min.js}"></script>



<script>
  layout_change('light');
</script>
  
<script>
  change_box_container('false');
</script>
 
<script>
  layout_caption_change('true');
</script>
 
<script>
  layout_rtl_change('false');
</script>
 
<script>
  preset_change('preset-1');
</script>
 
<script>
  main_layout_change('vertical');
</script>


    <!-- [Page Specific JS] start -->
    <!-- bootstrap-datepicker -->
    <script th:src="@{/assets/js/plugins/datepicker-full.min.js}"></script>
    <script th:src="@{/assets/js/plugins/apexcharts.min.js}"></script>
    <script th:src="@{/assets/js/plugins/peity-vanilla.min.js}"></script>

    <!-- custom widgets js -->
    <script th:src="@{/assets/js/widgets/revenue-analytics-chart.js}"></script>
    <script th:src="@{/assets/js/widgets/membership-state-chart.js}"></script>
    <script th:src="@{/assets/js/widgets/membership-activity-line-chart.js}"></script>
    <script th:src="@{/assets/js/widgets/invoice-chart.js}"></script>
    <script th:src="@{/assets/js/widgets/total-income-graph.js}"></script>
    <!-- [Page Specific JS] end -->


    <!-- Script para actualizar fecha -->
  <script>
    function actualizarFecha() {
      const inputFecha = document.getElementById("fecha").value;
      if (inputFecha) {
        const fecha = new Date(inputFecha);
        const opciones = { month: 'long', year: 'numeric' };
        const fechaFormateada = fecha.toLocaleDateString('es-ES', opciones);
        document.getElementById("mes-actual").innerText = capitalizarPrimeraLetra(fechaFormateada);
      }
    }

    function capitalizarPrimeraLetra(texto) {
      return texto.charAt(0).toUpperCase() + texto.slice(1);
    }
  </script>

    <style>
      /* Ítems del menú: blanco */
      .pc-sidebar .pc-link,
      .pc-sidebar .pc-mtext,
      .pc-sidebar .pc-micon {
        color: #ffffff !important;
        opacity: 1 !important;
      }

      /* Títulos de secciones del menú */
      .pc-sidebar .menu-caption,
      .pc-sidebar .pc-caption {
        color: rgba(255, 255, 255, 0.6) !important;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 12px;
      }
      /* Hover: cambia el texto a celeste claro */
      .pc-sidebar .pc-link:hover,
      .pc-sidebar .pc-link:focus {
        background-color: rgba(255, 255, 255, 0.05); /* Fondo sutil */
        transition: all 0.2s ease-in-out;
      }
    </style>


  </body>
  <!-- [Body] end -->
</html>
