ProyectoSanMiguel/.idea/misc.xml
ProyectoSanMiguel/target/
base_de_datos/xdxdxd.sql
ProyectoSanMiguel/target/classes/
ProyectoSanMiguel/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/ProyectoSanMiguel/target
