<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <!-- [Head] start -->

  <head>
    <title>Recuperar Contraseña</title>
    <!-- [Meta] -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <!-- [Favicon] icon -->
    <link rel="icon" th:href="@{/assets/images/logo-circular.png}" type="image/x-icon" />
    <!-- [Font] Family -->
    <link rel="stylesheet" th:href="@{/assets/fonts/inter/inter.css}" id="main-font-link" />
    <!-- [phosphor Icons] https://phosphoricons.com/ -->
    <link rel="stylesheet"  th:href="@{/assets/fonts/phosphor/duotone/style.css}" />
    <!-- [Tabler Icons] https://tablericons.com -->
    <link rel="stylesheet"  th:href="@{/assets/fonts/tabler-icons.min.css}"/>
    <!-- [Feather Icons] https://feathericons.com -->
    <link rel="stylesheet"  th:href="@{assets/fonts/feather.css}" />
    <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
    <link rel="stylesheet"  th:href="@{assets/fonts/fontawesome.css}" />
    <!-- [Material Icons] https://fonts.google.com/icons -->
    <link rel="stylesheet"  th:href="@{assets/fonts/material.css}" />
    <!-- [Template CSS Files] -->
    <link rel="stylesheet"  th:href="@{assets/css/style.css}" id="main-style-link" />
    <script  th:href="@{assets/js/tech-stack.js}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W9Z0W379ZN"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-W9Z0W379ZN'); </script>
    <script type="text/javascript">     (function (c, l, a, r, i, t, y) { c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) }; t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i; y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y); })(window, document, "clarity", "script", "o2g7pzyzyz"); </script>
    <script defer src="https://phpstack-207002-5085356.cloudwaysapps.com/pixel/CDkpF1sQ8Tt5wpMZgqRvKpQiUhpWE3bc"></script>
    <link rel="stylesheet"  th:href="@{assets/css/style-preset.css}"/>
  </head>
  <!-- [Head] end -->
  <!-- [Body] Start -->

  <body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-layout="vertical" data-pc-direction="ltr" data-pc-theme_contrast="" data-pc-theme="light">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
      <div class="loader-track">
        <div class="loader-fill"></div>
      </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <div class="auth-main">
      <div class="auth-wrapper v2">
        <div class="auth-sidecontent">
          <img th:src="@{assets/images/authentication/sanmi2.png}" alt="images" class="img-fluid img-auth-side" />
        </div>
        <div class="auth-form">
          <div class="card my-5">
            <div class="card-body">
              <a href="#"><img th:src="@{assets/images/logo-sanM.png}" width="50%" class="mb-4 img-fluid" alt="img" /></a>
              <div class="d-flex justify-content-between align-items-end mb-4">
                <h3 class="mb-0"><b>Olvide mi contraseña</b></h3>
                <a th:href="@{/}" class="link-primary">Regresar al login</a>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </symbol>
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </symbol>
              </svg>

              <!-- Mensaje de éxito -->
              <div th:if="${mensaje}" class="alert alert-primary d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24">
                  <use xlink:href="#info-fill"></use>
                </svg>
                <div th:text="${mensaje}"></div>
              </div>

              <!-- Mensaje de error -->
              <div th:if="${error}" class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24">
                  <use xlink:href="#exclamation-triangle-fill"></use>
                </svg>
                <div th:text="${error}"></div>
              </div>

              <form th:action="@{/recuperar}" method="post">
                <div class="mb-3">
                  <label class="form-label">Correo Electrónico:</label>
                  <input type="email" class="form-control" name="correo" placeholder="Ingresa tu correo..." required />
                </div>
                <p class="mt-4 text-sm text-muted">No olvides revisar tu buzón de SPAM/Correo no deseado</p>
                <div class="d-grid mt-3">
                  <button type="submit" class="btn btn-primary">Seguir</button>
                </div>
              </form>
                <div class="text-center mt-4">
                    <p class="mb-0">¿No tienes una cuenta? <a th:href="@{/registrarse}" class="link-primary">Crear cuenta</a></p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] end -->
    <!-- Required Js -->
    <script src="../assets/js/plugins/popper.min.js"></script>
    <script src="../assets/js/plugins/simplebar.min.js"></script>
    <script src="../assets/js/plugins/bootstrap.min.js"></script>

    <script src="../assets/js/plugins/i18next.min.js"></script>
    <script src="../assets/js/plugins/i18nextHttpBackend.min.js"></script>

    <script src="../assets/js/icon/custom-font.js"></script>
    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/theme.js"></script>
    <script src="../assets/js/multi-lang.js"></script>
    <script src="../assets/js/plugins/feather.min.js"></script>
    
    <script>
      layout_change('light');
    </script>
      
    <script>
      change_box_container('false');
    </script>
     
    <script>
      layout_caption_change('true');
    </script>
     
    <script>
      layout_rtl_change('false');
    </script>
     
    <script>
      preset_change('preset-1');
    </script>
     
    <script>
      main_layout_change('vertical');
    </script>



  </body>
  <!-- [Body] end -->
</html>
