<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sidebar Fragment</title>
</head>
<body>
<th:block th:fragment="sidebar">
  <nav class="pc-sidebar" style="background-color: #1a3570;">
    <div class="navbar-wrapper text-white">
      <div class="m-header" style="background-color: #fffffb;">
        <a class="b-brand text-primary">
          <img th:src="@{/assets/images/logo-sanM.png}" class="img-fluid" style="height: 40px;" alt="logoSM" />
          <span class="badge bg-light-success rounded-pill ms-2 theme-version">Registrado</span>
        </a>
      </div>
      <div class="navbar-content">
        <ul class="pc-navbar">

          <li class="pc-item">
            <a th:href="@{/incidentes}" class="pc-link">
                            <span class="pc-micon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-alert"></use>
                                </svg>
                            </span>
              <span class="pc-mtext">Incidentes</span>
            </a>
          </li>

          <li class="pc-item">
            <a th:href="@{/servicios}" class="pc-link">
                            <span class="pc-micon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-briefcase"></use>
                                </svg>
                            </span>
              <span class="pc-mtext">Servicios</span>
            </a>
          </li>

          <li class="pc-item pc-hasmenu">
            <a href="#!" class="pc-link">
                            <span class="pc-micon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-calendar"></use>
                                </svg>
                            </span>
              <span class="pc-mtext">Horarios</span>
            </a>
            <ul class="pc-submenu">
              <li class="pc-item">
                <a th:href="@{/horarios/ver}" class="pc-link">Ver Horarios</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</th:block>
</body>
</html>
